.borderRed {
    border: 1px dashed red;
}

.borderGreen {
    border: 1px dashed green;
}

.borderBlue {
    border: 1px dashed blue;
}

.borderCyan {
    border: 1px dashed darkcyan;
}

body {
    margin: 0;
}

/* .row {
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} */